.navbarparent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.brand {
    font-weight: normal;
    font-size: 1.8rem;
    font-family: "Rubik Wet Paint", cursive;
    cursor: pointer;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.brand:hover {
    color: black;
}


.mainnav {
    padding: 10px 80px !important;
}

.navbarul {
    display: flex;
    align-items: center;
}

.navbarul {

    font-family: "Poppins", sans-serif;
    color: black;
}

.navbar_cartdiv {
    position: relative;
}

.navbar_cartdiv span {
    position: absolute;
    font-family: "Poppins", sans-serif;
    background-color: rgb(211, 48, 48);
    font-size: 15px;

    padding: 0px 6px;
    border-radius: 50%;
    right: -18px;
    bottom: 20px;
}

.navbarul img {
    margin-left: 20px;
}

.navlinks {
    font-weight: 600;
    list-style: none;
    padding-left: 60px;

}

.dropdowndiv {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    right: 115px;
    top: 56px;
    z-index: 9;
    text-align: center;
    border: 1px solid rgb(104, 104, 104, 0.5);
    width: 100px;

    padding-bottom: 10px;
    padding-top: 10px;
}

.dropdowndiv .navlinks {
    padding-left: 0px;
}

.userimage {
    border-radius: 50% !important;
}