.main {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  /* padding: 4rem 0; */
  /* flex: 1; */
  /* 
  flex-direction: column;
   */
  /*  */
}

.abouttextdiv {
  /* margin-right: 100px; */
  max-width: 540px;
  font-family: "Open Sans", sans-serif;
}

.abouttextdiv h1 {
  font-weight: 600;
}

.abouttextdiv p {
  line-height: 32px;
  font-size: 18px;
  margin-top: 2rem;
}
