.parent {
  background-color: #edf2f8;
  position: absolute;
  overflow-x: hidden !important;
}

.parent2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
  width: 100vw;
}

.dp_parent {
  background-color: white;
  padding: 2rem;
  overflow-x: hidden !important;
  max-width: 65%;
  border-radius: 20px;
  margin: auto;
  margin-top: 5rem;
}

.dp_shoeinfo {
  font-family: "Ubuntu", sans-serif;
}

.dp_shoeinfo_child1 {
  margin-top: 3rem;
}

.dp_companyname {
  color: gray;
  font-weight: 700;
  font-size: 0.7rem;
}

.dp_shoeinfo h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.shoppingcart {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.dp_desc_div {
  margin-top: 1.5rem;
}

.dp_buydiv {
  line-height: 12px;
  margin-top: 1.5rem;
}

.dp_buydiv_button {
  margin-top: 2rem;
}

@media (max-width: 430px) {
  .dp_parent {
    max-width: 90%;
    margin-bottom: 5rem;
  }

  .dp_shoeinfo_child1 {
    text-align: center;
    padding-top: 2rem;
  }

  .dp_desc {
    margin-bottom: 1rem;
  }

  .dp_companyname {
    display: none;
  }

  .dp_shoeinfo_child1 {
    margin-top: 0rem;
  }

  .dp_buydiv_button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
  }

  .shoppingcart {
    font-size: 2rem;
    margin-left: 0rem;
  }
}
