.footer_main {
  display: flex;
  position: relative;
  justify-content: center;
  /*   margin-bottom: 20px; */
}

.footer_parent {
  background-color: rgb(41, 39, 39);
  color: white;
  /*  position: absolute; */
  width: 90vw;
  border-radius: 8px;
  padding-bottom: 20px;
}

.footer_flexparent {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.footer_flexbox1 {
  max-width: 30%;
  text-align: justify;
}

.footer_flexbox2_icons {
  display: flex;
}

.footer_flexbox2_icons .footer_icons {
  font-size: 1.6rem;
  margin-right: 10px;
}

.footer_flexparent h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.footer_flexparent p {
  font-size: 0.9rem;
}

.footer_reportbuttondiv {
  display: flex;
  justify-content: center;
}

.footer_report_button {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 700;
  margin: auto;
}

@media (max-width: 430px) and (min-width: 0px) {
  .footer_parent {
    min-width: 100vw;
    margin-top: 50px;
  }

  .footer_flexparent {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .footer_flexparent h4 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .footer_flexparent p {
    font-size: 18px;
  }

  .footer_flexbox1 {
    display: none;
  }

  .footer_flexbox1 h4 {
    text-align: center;
  }

  .footer_flexbox2 {
    text-align: center;
    margin-top: 30px;
  }

  .footer_flexbox2 p {
    display: none;
  }

  .footer_flexbox3 {
    text-align: center;
    margin-top: 40px;
  }

  .footer_flexbox3 p {
    display: none;
  }

  .footer_flexbox2_icons {
    display: flex;
    justify-content: space-evenly;
    max-width: 50vw;
    margin: auto;
  }

  .footer_icons {
    font-size: 1.6rem;
    margin-right: 0px !important;
  }
}