.mainparent {
  display: flex;
}

.imagediv1 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopwithusdiv {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.shopwithus_textdiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  margin-right: 2rem;
  font-family: "Open Sans", sans-serif;
}

.shopwithus_textdiv h2 {
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}

.shopwithus_textdiv p {
  line-height: 32px;
  font-size: 18px;
}

.shopwithusdiv2 {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.shopwithus2_imagediv {
  margin-right: 2rem;
}

.shopwithus2_textdiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;

  font-family: "Open Sans", sans-serif;
}

.shopwithus2_textdiv h2 {
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}

.shopwithus2_textdiv p {
  line-height: 32px;
  font-size: 18px;
}
