.mainnav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: normal;
  font-size: 1.6rem;
  font-family: "Rubik Wet Paint", cursive;
  cursor: pointer;
  padding-top: 10px;
}

.mainnav ul {
  display: flex;
  justify-content: flex-end;
}

.navbarul {
  display: flex;
  align-items: center;
}

.navlinks {
  font-weight: 600;
  list-style: none;
  padding-left: 60px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.dropdowndiv {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  right: 115px;
  top: 56px;
  z-index: 9;
  text-align: center;
  border: 1px solid rgb(104, 104, 104, 0.5);
  width: 100px;

  padding-bottom: 10px;
  padding-top: 10px;
}

.dropdowndiv .navlinks {
  padding-left: 0px;
}

.userimage {
  border-radius: 50% !important;
}
