.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sellproducts_header1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.card_main {
  width: 17rem;
  border-radius: 10px;
}

.products_parent h1 {
  margin-left: 5rem;
}

.product_cardimg {
  border-radius: 10px;
}

.shirtpage_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.shirtcard {
  width: 18rem;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.product_cardimg {
  width: auto !important;
  height: auto !important;
}

.itemscard_parent {
  margin: 0px;
  max-width: 100%;
  min-width: 100%;
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itemscard_card {
  border-radius: 10px;
  margin-bottom: 5rem;
  padding-top: 1rem;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

.itemscard_img {
  object-fit: cover;
  min-height: 150px;
  max-height: 150px;
}

.itemscard_title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.itemcard_price {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.Items-container-header {
  margin-top: 5rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

@media (max-width: 430px) {
  .itemscard_card {
    border-radius: 20px;
    margin-right: 0rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    font-family: "Ubuntu", sans-serif;
  }
}
.addproduct_card_parent {
  padding: 20px;
}
.addproduct_card_title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  width: 90%;
}
.addproduct_card_title2 {
  font-family: "Mulish", sans-serif;
  font-size: 0.8rem;
  width: 100%;
  color: rgba(128, 128, 128, 0.687);
  font-style: italic;
}
