.shirtpage_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.shirtcard {
  width: 18rem;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.product_cardimg {
  width: auto !important;
  height: auto !important;
}
