.shirtpage_header {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.ImageBannerDiv1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.ImageBannerDiv2 {
  display: flex;
  min-width: 80vw;
  justify-content: center;
  max-width: 80vw;
  position: relative;
  border-radius: 10px;
}

.grandDesktop {
  border-radius: 10px;
  cursor: pointer;
}

.shirtpage_hr1 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  width: 70%;
  text-align: center;
  margin: auto;
  height: 2px !important;
  color: gray;
}

.shirtpage_searchdiv {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  margin-bottom: 2rem;
  min-width: 80vw;
  max-width: 80vw;
}

.shirtpage_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  min-width: 80vw;
  max-width: 80vw;
}

.shirtcard {
  width: 18rem;

  cursor: pointer;
  border-radius: 10px;
}

.product_cardimg {
  width: auto !important;
  height: auto !important;
}

.itemscard_parent {
  margin: 0px;
  max-width: 100%;
  min-width: 100%;
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.itemscard_card {
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5rem;
  padding-top: 1rem;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

.itemscard_card:hover {
  -webkit-box-shadow: 0px 0px 34px 1px rgba(209, 190, 115, 0.62);
  -moz-box-shadow: 0px 0px 34px 1px rgba(209, 190, 115, 0.62);
  box-shadow: 0px 0px 34px 1px rgba(209, 190, 115, 0.62);

  -webkit-transition: box-shadow ease-in-out 0.3s;
  transition: box-shadow ease-in-out 0.3s;
}

.itemscard_img {
  object-fit: cover;
  min-height: 150px;
  max-height: 150px;
}

.itemscard_title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.itemcard_price {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.Items-container-header {
  margin-top: 5rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

@media (max-width: 430px) {
  .itemscard_card {
    border-radius: 20px;
    margin-right: 0rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    font-family: "Ubuntu", sans-serif;
  }
}
