.cart_mainparent {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #edf2f8;
  background-position: center;
  background-size: cover;
}

.cart_cartcardsparent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.cart_cartusername {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 600 !important;
}

.itemcard_price {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.cart_checkoutbtn {
  border-radius: 7px;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.profileparent {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
}

.profileimg {
  max-width: 400px !important;
  max-height: 400px !important;
  min-width: 400px !important;
  min-height: 400px !important;
  /* width: auto !important; */
  object-fit: contain;
}

.profiledets {
  margin-top: 5rem;
}

.profile_inputs {
  margin-bottom: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.profile_inputsf1 {
  margin-bottom: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  /* font-size: 1.2rem; */
  font-weight: 600;
}
.updatebtn {
  font-family: "Ubuntu", sans-serif;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
}

@media (max-width: 430px) {
  .cart_cartusername {
    text-align: center;
  }

  .itemscard_card {
    border-radius: 20px;
    margin-right: 0rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    font-family: "Ubuntu", sans-serif;
  }
}
