.cart_mainparent {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #edf2f8;
  background-position: center;
  background-size: cover;
}

.cart_cartcardsparent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.cart_cartusername {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 600 !important;
}

.cartcard {
  width: 15rem;
  border-radius: 10px;
  margin-right: 4rem;
  cursor: pointer;
}

.cart_details h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 600 !important;
}

.cart_details p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 600 !important;
}

.itemscard_parent {
  margin: 0px;
  max-width: 100%;
  min-width: 100%;
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.itemscard_card {
  border-radius: 20px;
  margin-right: 5rem;
  margin-bottom: 5rem;
  padding-top: 1rem;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

.itemscard_img {
  object-fit: cover;
  min-height: 150px;
  max-height: 150px;
}

.itemscard_title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.itemcard_price {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.Items-container-header {
  margin-top: 5rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.cart_checkoutbtn {
  border-radius: 7px;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

@media (max-width: 430px) {
  .cart_cartusername {
    text-align: center;
  }

  .itemscard_card {
    border-radius: 20px;
    margin-right: 0rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    font-family: "Ubuntu", sans-serif;
  }
}
